header {
    background-color: #555555;
    opacity: 0.9;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.nav ul {
    background-color: #777777;
    margin-bottom: 10px;
}

.nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

header h4 {
    color: black;
}

.nav li {
    display: inline;
    margin-right: 10px;
}

.telephones li {
    display: inline;
    color: white;
    font-size: 11px;
    margin-left: 5px;
}

.carousel {
    background-color: #333333;
}

.telephones {
    margin-top: 110px;
    margin-right: 10px;
}

header img {
    width: 100px;
    height: 100px;
}

.carousel-inner {
    width: 100%;
    height: 600px;
}

.carousel-control {
    width: 10%;
}

.carousel-inner .item img {
    width: 100%;
    height: 100%;
}

/*
.carousel-inner .item{
	position: relative;	
}*/

.catalog img {
    width: 360px;
    height: 165px;
}

.about {
    margin-top: 25px;
    border-bottom: 1px solid #dbdbdb;
}

.pre-owned {
    background-color: #B3B9BF;
}

footer {
    background-color: #333333;
    color: white;
}

footer ul {
    list-style-type: none;
    font-size: 12px;
}

video {
    width: 100%;
}

.socials {
    float: right;
    margin-top: 80px;
    margin-right: 15px;
}

.socials img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

/*Contacto*/
form {
    border: 2px solid #dbdbdb;
}

form .form-group {
    width: 90%;
    margin: 25px;
    margin-left: 40px;
}

.contact, .register, .clientes, .products, .enterprise, .events, .seminew, .services, .videos, .login {
    border-top: 2px solid #00FFD1;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 20px;
}

.modal-footer form {
    border: none;
}

/*Registrate*/

.sex input {
    margin: 10px;
}

/*Clientes*/

#tableClientes {
    width: 90%;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 4%;
}

th, td {
    border: 1px solid black;

}

/*Catalogo*/

.product {
    margin: 10%;
}

/*tabla clientes*/

.idClient {
    width: 6%;
}

.nameClient {
    width: 15%;
}